<!DOCTYPE html>
<html>
  <head>
    <title>LearnTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('learn_logo.png') %>";
      window.profilePic = "<%= image_url('profile.png') %>";
      window.signinButton = "<%= image_url('sign_in.png') %>";
      window.thumb = "<%= image_url('promo.jpg') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
