<!DOCTYPE html>
<html>
  <head>
    <title>LearnTube</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Condensed&family=Noto+Sans+HK&family=Roboto:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Syne+Mono&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.logoURL = "<%= image_url('learn_logo.png') %>";
      window.profilePic = "<%= image_url('profile.png') %>";
      window.signinButton = "<%= image_url('sign_in.png') %>";
      window.thumb = "<%= image_url('promo.png') %>";
      window.home = "<%= image_url('home1.png') %>";
      window.hamburger = "<%= image_url('hamburger.png') %>";
      window.git = "<%= image_url('git.png') %>";
      window.linkedin = "<%= image_url('linkedin.png') %>";
      window.search = "<%= image_url('search.png') %>";
    </script>

   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
